.site-wrapper {
    background: #f8f8f8 !important;
}
.wp-box {
    position: fixed;
    bottom: 26px;
    right: 26px; 
    z-index: 999;
}

.wp-box a img {
    width: 45px;
}

.header-area.sticky-header.sticky {
    padding: 8px 0 !important;
}


.header-area.sticky-header.sticky {
    background-color: #fefefe !important;
}

.hight {
    color: #af1b1b;
}



.blinkcursor {
    color: #af1b1b;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #af1b1b;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #af1b1b;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #af1b1b;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #af1b1b;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #af1b1b;
    }
  }

  .portfolio-item__thumb {
    overflow: hidden;
  }

  .portfolio-item__thumb img {
    transition : all .3s ease; 
  }

  .portfolio-item:hover > .portfolio-item__thumb img {
    transform: scale(1.05);
  }

  .header-action-area a i {
    transition : all .3s ease;
  }
.header-action-area a:hover i {
  color: #af1b1b !important;
}

.preloader img {
  display: none !important;
}

.preloader-active .preloader img {
  display: block !important;
  z-index: 999999;
}

.lightbox .lb-image {
  border: none !important;
}